<h1>Productos pipe asyns</h1>
<div>
    <div *ngFor="let producto of productosObs | async">
        <h2>{{producto.title | uppercase | slice:0:6}}</h2>
        <h2>{{producto.title | concatenar}}</h2>
        <p>{{producto.price | currency: "ARS"}}</p>
    </div>
</div><h1>Productos asyns / await</h1>
<div>
    <div *ngFor="let producto of productosAsync">
        <!--{{producto | json}}-->
        <h2>{{producto.title}}</h2>
        <p>{{producto.price}}</p>
    </div>
</div>
<h1>Productos</h1>
<div *ngIf="!loading">
    <div *ngFor="let producto of productos">
        <!--{{producto | json}}-->
        <h2>{{producto.title}}</h2>
        <p>{{producto.price}}</p>
    </div>
</div>


